# SET

### CREATING SET

In [ ]:
# METHOD 1
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
# METHOD 2 - using set() constructor
num_list = [1, 2, 3, 4, 5]
num_set = set(num_list)
print(num_list)
print(type(num_list))
print(num_set)
print(type(num_set))

[1, 2, 3, 4, 5]
<class 'list'>
{1, 2, 3, 4, 5}
<class 'set'>

## BASIC OPERATIONS

### ADDING ELEMENTS

In [ ]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

### REMOVING ELEMENTS

In [ ]:
# METHOD 1
my_set.remove(6)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# remove() raises error if the element is not present
my_set.remove(6)
print(my_set)

KeyError: 6

In [ ]:
# METHOD 2
my_set.discard(5)
print(my_set)

{1, 2, 3, 4}

In [ ]:
# Unlike remove(), discard() does not return any error
my_set.discard(5)
print(my_set)

{1, 2, 3, 4}

### CLEARING A SET

In [ ]:
my_set.clear()
print(my_set)

set()

## SET OPERATION

In [ ]:
set_A = {1, 2, 3, 4, 5}
set_B = {4, 5, 6, 7, 8}

### UNION

In [ ]:
union_set = set_A|set_B
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

### INTERSECTION

In [ ]:
intersect_set = set_A & set_B
print(intersect_set)

{4, 5}

### DIFFERENCE

In [ ]:
diff_setAB = set_A - set_B
diff_setBA = set_B - set_A
print(diff_setAB)
print(diff_setBA)

{1, 2, 3}
{8, 6, 7}

### SYMMETRIC DIFFERENCE

In [ ]:
# METHOD 1
sym_diff = diff_setAB | diff_setBA
print(sym_diff)

{1, 2, 3, 6, 7, 8}

In [ ]:
# METHOD 2
sym_diff = union_set - intersect_set
print(sym_diff)

{1, 2, 3, 6, 7, 8}

In [ ]:
# METHOD 3
sym_diff = set_A ^ set_B
print(sym_diff)

{1, 2, 3, 6, 7, 8}

## CHECKING MEMBERSHIP

In [ ]:
# Return type -> Boolean
print(2 in set_A)
print(2 in set_B)
print(2 not in set_B)

True
False
True

## LENGTH OF A SET

In [ ]:
print(len(set_A))
print(len(my_set))

5
0

## ALLOWS DUPLICATE?

In [ ]:
my_set = {1, 2, 3, 1, 1, 4, 5, 6}
print(my_set)

{1, 2, 3, 4, 5, 6}

#### NO

## HETEROGENITY?

In [ ]:
my_set.clear()
my_set = {1, 4.5, -9, -6.888, "Krishna", True}
print(my_set)

{1, 'Krishna', 4.5, -9, -6.888}

#### UNORDERED, ALLOWS HETEROGENITY <b>EXCEPT BOOLEAN VALUE</b>