# COMMENT

Comments - are not part of program, they are only for labelling

In [ ]:
# This is a comment.

.py - extension for python (for offline python softwares)

.ipynb - extension for interactive python notebook (for online python softwares)

In [ ]:
# This is a cell.

To execute/run the cell - shift + enter, alt + enter, ctrl + enter

Number present on the left hand side of the cell within square bracket indicates that the cell is executed. And if n >= 1, then it means cell is executed n times.

Now, if n = 0 which can be justified by the empty bracket


'[  ]' -> the cell is not at all exected.

# PYTHON BASICS

## print(  ) FUNCTION

In [ ]:
print()

#### There is no argument hence there will be no output.

In [ ]:
# Hello World
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

Whatever is mentioned within single or double quotation marks, it is a string

## VARIABLE

In [ ]:
a = 25
print(a)

25

Rather than using print() function, in ipynb platform if we just type a and execute the cell the result will be same as above.

In [ ]:
a

25

## type(  ) FUNCTION

To check the datatype of the variable

In [ ]:
type(a)

int

In [ ]:
b = 2.0
type(b)

In [ ]:
c = True
type(c)

bool

In [ ]:
d = "Hello World"
type(d)

str

In [ ]:
e = 's'
type(e)

str

In python there is no 'char' datatype.

In [ ]:
# Printing values contained in the variables mentioned above
# METHOD 1
a
b
c
d
e

's'

In [ ]:
# In METHOD 1, it can observed that only the value contained in variable 'e'
# is only diaplayed.
# Therefore, either we have to put the variables in individual cells and execute
# each cell or adopt METHOD 2.
# METHOD 2
print(a)
print(b)
print(c)
print(d)
print(e)

25
2.0
True
Hello World
s

In [ ]:
# to print in one line
print(a, b, c, d, e)

25 2.0 True Hello World s

In [ ]:
# To print single quotation marks
print("' '")
print("\' \'")

' '
' '

In [ ]:
# To print double quotation marks
print('" "')
print("\" \"")

" "
" "

## <u>DYNAMIC NATURE OF PYTHON</u>

Python is dynamic in nature. What does it mean?
In languages like C, C++, and Java, the data type of a variable must be explicitly declared.
This means a variable can only hold values that match its declared type. However, in Python, this is not necessary.
Python automatically determines the data type of a variable at runtime based on the value assigned to it.

The dynamic nature of Python can be illustrated from some of the above examples.

In [ ]:
a = 25
b = 15

In [ ]:
a

25

In [ ]:
b

15

In [ ]:
# Calculator
# Addition
print(a + b)
# Subtraction
print(a - b)
# Multiplication
print(a * b)
# Division
print(a / b)
# Floor Division
print(a // b)
# Modulus
print(a % b)
# Exponentiation
print(a ** b)

40
10
375
1.6666666666666667
1
10
931322574615478515625

1. a / b returns a float value

2. a // b returns an integer value

3. a % b returns the remainder which is ofcourse an integer value

4. A single-line comment begins with '#' symbol

5. To comment out multiple (consecutive) lines
    
    STEP 1. Select the lines or press CTRL + A
    
    STEP 2. Press CTRL + /

6. A multiline comment is enclosed within ''' ''' or """ """

# TYPES OF FUNCTIONS IN PYTHON
    1. Builtin Function - Predefined, cannot be altered
    2. User Defined Fucntion - Function created by user, can be altered

## input(  ) FUNCTION

Built-in function

In [ ]:
a = input("Enter your name ")
print(a)

Enter your name Darwin
Darwin

In [ ]:
type(a)

str

In [ ]:
# here, we have used the variable 'a' twice and each time it stored
# different value. This is called Overwriting.
# Earlier a contained an integer value 25 and now it stores a string.
# if I again assign a value of 3.4
a = 3.4
print(a)

3.4

In [ ]:
# The earlier value contained in a will just be overwritten.
# hence, now, value contained in a is 3.4 - a float value.

In [ ]:
# Using input() function, take two numbers as input and calculate their sum and
# display it.
# METHOD 1
a = input("Enter a number: ")
b = input("Enter another number: ")
print("Sum is: ", int(a)+int(b))

Enter a number: 34
Enter another number: -45
Sum is:  -11

In [ ]:
#METHOD 2
a = int(input("Enter a number: ")) # <- this is called typecasting, i.e.
                                   #    changing one datatype into other.
b = int(input("Enter another number: "))
print("Sum is: ", a+b)

Enter a number: 23
ENter another number: 34
Sum is:  57

## CONCATENATION

Joing two or more strings

In [ ]:
a = "[a-z]"
b = "[A-Z]"
print(a+b)

[a-z][A-Z]

In [ ]:
# W.A.P to calculate the sqaure of a number
# METHOD 1
a = int(input("Enter a number: "))
print("Square is: ", a * a)

Enter a number: 356
Square is:  126736

In [ ]:
# METHOD 2
a = int(input("Enter a number: "))
print("Square is: ", a ** 2)

Enter a number: 25
Square is:  625

In [ ]:
# Method 3
a = int(input("Enter a number: "))
print("Square is: ", pow(a, 2))

Enter a number: 25
Square is:  625

In [ ]:
# Formatted String
a = int(input("Enter a number: "))
print(f"Square of {a} is: ", pow(a, 2))

Enter a number: 34
Square of 34 is:  1156

# STRINGS

Sequence of characters either enclosed in single or double quotation marks.

In [ ]:
a = "WELCOME TO INCREDIBLE INDIA"
print(a)
type(a)

WELCOME TO INCREDIBLE INDIA

str

In [ ]:
# All the elements in a string has its own unique index numbver.
# Index starts from 0.
# Index of W = 0
# Index of (1st) T = 8
# Space in the string also has an unique index.
print(a[0])
print(a[8])
print(a[7])

W
T

In [ ]:
# a[7] = space between 'E' and 'T' of substrings 'WELCOME' and 'TO'
# respectively

# Negative indexing
# Index of last element of the string is -1.
print(a[-1])

A

It is better to use, unless required, positive indexing to avoid confusion.

## SLICING OF A STRING

In [ ]:
# To access a substring - we use slicing
# To print the substring "WELCOME"
# Indices of W and E are 0 and 6
print(a[0:7])
# ELement at index 7 is exluded.

WELCOME

In [ ]:
# To access the substring "INCREDIBLE"
print(a[11:21])

INCREDIBLE

In [ ]:
# To print the whole string using slicing method
print(a[0:])
print(a[:28])
print(a[:])

WELCOME TO INCREDIBLE INDIA
WELCOME TO INCREDIBLE INDIA
WELCOME TO INCREDIBLE INDIA

In [ ]:
# To print the substring "INDIA"
print(a[22:28])
print(a[22:])

INDIA
INDIA

In [ ]:
# To print the first 9 elements of the string
print(a[:10])

WELCOME TO

## CONDITIONAL STATEMENTS

### if-else STATEMENTS

In [ ]:
# W.A.P to check whether a number is even or odd.
num = int(input("Enter a number: "))
if num % 2 == 0:
  print(f"{num} is even.")
else:
  print(f"{num} is odd.")

Enter a number: 3
3 is odd.

In [ ]:
# W.A.P to check the eligibility criteria for voting
# If 18 or above then print eligible to vote
# else print not eligible to vote and also print after how many
# years will he/she be eligle
age = int(input("Enter your age: "))
if age >= 18:
  print("eligible to vote")
else:
  print("not eligible to vote\neligible after ", 18 - age, " years")

Enter your age: 19
eligible to vote

In [ ]:
# using formatted string
age = int(input("Enter your age: "))
if age >= 18:
  print("eligible to vote")
else:
  print(f"not eligible to vote\neligible after {18 - age} years")

Enter your age: 11
not eligible to vote
eligible after 7 years