# DICTIONARY

## CREATING A DICTIONARY

In [ ]:
# METHOD 1
my_dict = {
    "name": "Gopal",
    "age": 25,
    "city": "Vaikunth"
}
print(my_dict)

{'name': 'Gopal', 'age': 25, 'city': 'Vaikunth'}

In [ ]:
# METHOD 2
my_dict2 = dict(name = "Gopal",age = 25, city = "Vaikunth")
print(my_dict2)

{'name': 'Gopal', 'age': 25, 'city': 'Vaikunth'}

## ACCESSING VALUES

In [ ]:
print(my_dict["name"])
print(my_dict2["city"])

Gopal
Vaikunth

## ADDING OR UPDATING ITEMS

In [ ]:
my_dict["age"] = 10 # Updating
my_dict2["occupation"] = "King" # Adding
print(my_dict)
print(my_dict2)

{'name': 'Gopal', 'age': 10, 'city': 'Vaikunth'}
{'name': 'Gopal', 'age': 25, 'city': 'Vaikunth', 'occupation': 'King'}

## REMOVING ITEMS

In [ ]:
del my_dict["city"]
print(my_dict)

{'name': 'Gopal', 'age': 10}

In [ ]:
my_dict = {
    "name": "Gopal",
    "age": 25,
    "city": "Vaikunth"
}
print(my_dict)

{'name': 'Gopal', 'age': 25, 'city': 'Vaikunth'}

## FOR LOOPING THROUGH DICTIONARY

In [ ]:
for key in my_dict:
    print(key, end="\t")

name	age	city

In [ ]:
for value in my_dict.values():
    print(value, end ="\t")

Gopal	25	Vaikunth

In [ ]:
for key,value in my_dict.items():
    print(key, value, end="\t")

name Gopal	age 25	city Vaikunth

## FOR ACCESSING KEYS

In [ ]:
print(my_dict.keys())

dict_keys(['name', 'age', 'city'])

## FOR ACCESSING VALUES

In [ ]:
print(my_dict.values())

dict_values(['Gopal', 25, 'Vaikunth'])

## FOR ACCESSSING ITEMS

In [ ]:
print(my_dict.items())

dict_items([('name', 'Gopal'), ('age', 25), ('city', 'Vaikunth')])

In [3]:
nameD = input("Enter your name: ")
ageD = int(input("Enter your age: "))
cityD = input("Enter your city: ")
occupationD = input("Enter your occupaion: ")

detail_dict = dict(name = nameD, age = ageD, city = cityD, occupation = occupationD)
print(detail_dict)

Enter your name: Arunava
Enter your age: 21
Enter your city: Siliguri
Enter your occupaion: Software Engineer
{'name': 'Arunava', 'age': 21, 'city': 'Siliguri', 'occupation': 'Software Engineer'}

## JOINING TWO LISTS TO FORM A DICTIONARY

In [2]:
nameD = input("Enter your name: ")
ageD = int(input("Enter your age: "))
cityD = input("Enter your city: ")
occupationD = input("Enter your occupaion: ")

title_list = ["name", "age", "city", "occupation"]
value_list = [nameD, ageD, cityD, occupationD]

detail_dict = {title_list[i]:value_list[i] for i in range(len(title_list))}
print(detail_dict)

Enter your name: Ahalya
Enter your age: 20
Enter your city: Delhi
Enter your occupaion: Student
{'name': 'Ahalya', 'age': 20, 'city': 'Delhi', 'occupation': 'Student'}

In [ ]:
my_dict = {}
entries = int(input("Enter the number of entries: "))
for i in range(1, entries + 1):
    value = int(input("Enter a numeric value: "))
    my_dict[f"key{i}"] = value
print(my_dict)

Enter the number of entries: 3
Enter a numeric value: 1
Enter a numeric value: 2
Enter a numeric value: -9
{'key1': 1, 'key2': 2, 'key3': -9}

## ALLOWS DUPLICATE?

In [1]:
my_dict = dict(name = "Adwith", name = "Shyamsundar")
print(my_dict)

SyntaxError: keyword argument repeated: name (<ipython-input-1-9c4a3646f59d>, line 1)

Output: SyntaxError

Key must be unique

In [ ]:
my_dict = dict(num1 = 1, num2 = 1)
print(my_dict)
# No SyntaxError

{'num1': 1, 'num2': 1}

"Key must be unique in a dictionary."