# LIST

## CREATING LIST

In [ ]:
# METHOD 1
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# METHOD 2
my_list = list((1, 2, 3, 4, 5))
print(my_list)

[1, 2, 3, 4, 5]

## ACCESSING ELEMENTS

In [ ]:
print(my_list[0])

1

## SLICING A LIST

In [ ]:
print(my_list[1:3])
print(my_list[1:4:2])

[2, 3]
[2, 4]

### USING SLICING TO PRINT THE WHOLE LIST

In [ ]:
print(my_list[:])
print(my_list[0:])
print(my_list[:5])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

# MODIFYING LISTS

## 1. UPDATING LISTS

In [ ]:
my_list[2] = 10
print(my_list)

[1, 2, 10, 4, 5]

## 2. ADDING AN ELEMENT TO THE LIST

In [ ]:
my_list.append(100) # 100 is added at the end of the list
print(my_list)

[1, 2, 10, 4, 5, 100]

## 3. INSETING AN ELEMENT AT A PARTICULAR INDEX IN THE LIST

In [ ]:
my_list.insert(2, 40) # it imples 40 is to be inserted at index no. 2
print(my_list)

[1, 2, 40, 10, 4, 5, 100]

## 4. REMOVING AN ELEMENT FROM THE LIST

In [ ]:
# To remove or delete element from the list
my_list.remove(100)
print(my_list)
# To remove element from a particular index
my_list.pop(2)
print(my_list)

[1, 2, 40, 10, 4, 5]
[1, 2, 10, 4, 5]

## 5. TO CLEAR THE LIST

In [ ]:
my_list.clear()
print(my_list)

[]

## 6. TO SEARCH AN ELEMENT IN THE LIST

In [ ]:
my_list = ["mango", "kiwi", "coconut", "apple"]
print(my_list.index("coconut"))

2

In [ ]:
# if an element is not present in an array, it'll return an error
print(my_list.index("banana"))

ValueError: 'banana' is not in list

In [ ]:
my_list.clear()

## 7. TO COUNT THE FREQUENCY/ NO. OF OCCURENCES OF AN ELEMENT IN A LIST

In [ ]:
my_list = [1, 2, 3, 4, 1, 1, 5, 1]
print(my_list.count(1))
print(my_list.count(7)) # output : 0 as 7 is not present in the list

4
0

# 8. TO SORT A LIST

In [ ]:
my_list.sort()
print(my_list)

[1, 1, 1, 1, 2, 3, 4, 5]

In [ ]:
my_list.clear()
my_list = [2, 3, 6, 5]
my_list.sort(reverse = True)
print(my_list)

[6, 5, 3, 2]

In [ ]:
my_list.clear()
my_list = [1, 2, 3, 4, 5]
# to reverse a list
# METHOD 1
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
my_list.clear()
my_list = [1, 2, 3, 4, 5]
# METHOD 2
print(my_list[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# In METHOD 2 the actual list is not altered.
print(my_list)

[1, 2, 3, 4, 5]

## 9. CONCATENATION OF LISTS

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [7, 8, 9, 10]
print(list1 + list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# using extend() function
list1.extend(list2)
print(list1) # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] (list1 gets altered)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 10. List comprehension

In [ ]:
# W.A.P. that prints a list of square of first ten natural numbers.
# METHOD 1
sq_numList = []
for x in range(1, 11):
    sq_numList.append(x**2)
print(sq_numList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sq_numList.clear()
# METHOD 2
sq_numList = [x**2 for x in range(1, 11)]
print(sq_numList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


## 11. LENGTH OF A LIST

In [ ]:
print(len(sq_numList))

10

## 12. ITERATING THROUGH LIST

In [ ]:
for x in sq_numList:
    print(x, end='\t')

1	4	9	16	25	36	49	64	81	100

## 13. COPYING A LIST

In [ ]:
# METHOD 1
cpy_list = sq_numList.copy()
print(cpy_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
cpy_list.clear()
# METHOD 2
cpy_list = sq_numList[:]
print(cpy_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# why slicing?
cpy_list = sq_numList
print(cpy_list) # Output: same as sq_numList

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# now lets modify the cpy_list
cpy_list.remove(100)
print(cpy_list)
print(sq_numList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

It can be observed that along with cpy_list the value of
sq_numlist has been altered

# NESTED LIST

In [ ]:
matrix = [[1, 2], [3, 4]]
print(matrix)

[[1, 2], [3, 4]]

In [ ]:
# Accessing elements
print(matrix[0])
print(matrix[1][0])

[1, 2]
3

In [ ]:
# creating a distorted matrix
d_matrix = [[1,2], [3]]
print(d_matrix)

[[1, 2], [3]]

In [ ]:
print(d_matrix[0])
print(d_matrix[1][0])
print(d_matrix[1][1]) # It would give IndexError because there is no element at [1][0]

[1, 2]
3

IndexError: list index out of range

If there is a nested list by the name, n_list.

For any number, i such that 0 <= i < number of lists within the nested list, then the ith list is returned.

Now, for a pair of numbers, i and j, such that 0 <= i <= number of lists ithin the nested list and j represents the jth element of the ith list where 0 <= j < number of elements in the ith list

In [ ]:
# Modifying elements
matrix = [[1, 2], [3, 4]]
matrix[0] = [2, 3]
print(matrix)

[[2, 3], [3, 4]]

In [ ]:
matrix[0][1] = -3
print(matrix)

[[2, -3], [3, 4]]

In [ ]:
d_matrix[1][1] = 9
print(d_matrix)

IndexError: list assignment index out of range

In [ ]:
# To introduce 9 in d_matix
d_matrix[1] = [3, 9]
print(d_matrix)

[[1, 2], [3, 9]]

In [ ]:
# Iterating though nested list
for row in matrix:
    for col in row:
        print(col, end='\t')
    print('\n')

2	-3

3	4