
<h1>1. split( ) METHOD  <br>
2. map( ) WITH split( ) METHOD</h1>

In [4]:
# 1. USING split( ) METHOD
x, y = input("Enter two values: ").split() # DON'T PRESS ENTER, PRESS SPACE BAR
# HERE, SPACE ACTS AS A SEPERATOR
print(f"Number 1 : {x}")
print(f"Number 2 : {y}")

Enter two values: 2 3
Number 1 : 2
Number 2 : 3

In [14]:
x, y = input("Enter two values: ").split(",")
# HERE, COMMA ACTS AS A SEPERATOR
print(f"Number 1 : {x}")
print(f"Number 2 : {y}")

Enter two values: 1,2
Number 1 : 1
Number 2 : 2

In [10]:
# 2. USING map() WITH split( ) METHOD
x, y = map(int, input("Enter two values: ").split())
print("Number 1: {} \nNumber 2: {}".format(x, y))
print("Sum : ",x + y)
print("Difference : ",x - y)
print("Quotient : ",x / y)
print("Quotiet of Integral divsion : ",x // y)
print("Product : ",x * y)
print("Power : ",x ** y)
print("Remainder : ",x % y)

Enter two values: 4 3
Number 1: 4
Number 2: 3
Sum :  7
Difference :  1
Quotient :  1.3333333333333333
Quotiet of Integral divsion :  1
Product :  12
Power :  64
Remainder :  1

split( ) breaks down strings into substrings or characters **based on the specified seperator**. Here the seperator is space.

map( ) converts the substrings or character intoo the desired datatype, here 'int' (for integer)

In [15]:
arr1 = list(input("Enter multiple values: ").split(","))
print(arr1)

Enter multiple values: 1,2,3,4
['1', '2', '3', '4']

In [16]:
arr1.clear()
arr1 = list(map(int, input("Enter multiple values: ").split()))
print(arr1)

Enter multiple values: 1 2 3 4 5
[1, 2, 3, 4, 5]