# TUPLES

## CREATING A TUPLE

In [ ]:
# METHOD 1
my_tuple = (1, 2, 3, 4)
print(my_tuple)

(1, 2, 3, 4)

In [ ]:
# METHOD 2
# USING tuple( ) FINCTION
my_list  = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4)

In [ ]:
# METHOD 3
# This method is called 'Tuple Packing'
my_tuple = 1, 2, 3
print(my_tuple)

(1, 2, 3)

#### CREATING A SINGLE ELEMENT TUPLE

In [ ]:
my_tuple = 1 ,
print(my_tuple)

(1,)

## ACCESSING AN ELEMENT

In [ ]:
my_tuple = 1, 2, 3, 4
print(my_tuple[0])

1

## SLICING A TUPLE

In [ ]:
print(my_tuple[2:4]) # 4the element is excluded

(3, 4)

## TUPLE OPERATIONS

In [ ]:
tuple_A = 1, 2, 3, 4
tuple_B = 3, 4, 5, 6

### 1. CONCATENATION

In [ ]:
merged_tuple = tuple_A + tuple_B
print(merged_tuple)

(1, 2, 3, 4, 3, 4, 5, 6)

### 2. REPETITION

In [ ]:
num = int(input("Enter the number of repetition: "))
print(my_tuple*num)

Enter the number of repetition: 3
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

### 3. LENGTH OF A TUPLE

In [ ]:
print(len(my_tuple))

4

### 4. TO DETERMINE THE FREQUENCY / NUMBER OF OCCURENCES OF AN ELEMENT IN A TUPLE

In [ ]:
print(my_tuple.count(2))
print(my_tuple.count(8))

1
0

### 5. UNPACKING A TUPLE

In [ ]:
a = my_tuple
print(a)
a, b = my_tuple
print(a, b) # Output; ValueError

(1, 2, 3, 4)

ValueError: too many values to unpack (expected 2)

To unpack it is must to introduce n number of variables if number of elements in the tuple is n.

In [ ]:
a, b, c, d = my_tuple
print(a, b, c, d)

1 2 3 4

## ALLOWS DUPLICATES?

In [ ]:
my_tuple = 1, 2, 2, 3, 1, 4, 5, 2
print(my_tuple)

(1, 2, 2, 3, 1, 4, 5, 2)

YEAH, IT DOES!

## HETEROGENITY

In [ ]:
my_tuple = 1, "Adwith", True, 2.4, -1, -8.34
print(my_tuple)

(1, 'Adwith', True, 2.4, -1, -8.34)