# LOOP
Types of loops - FOR, WHILE

## WHILE LOOP

In [ ]:
# W.A.P to print numbers from 0 to 9
i = 0
while i <= 9:
  print(i,end="\t")
  i+=1 # i += 1 is same as i = i + 1

0	1	2	3	4	5	6	7	8	9

In [ ]:
# Or, simply
i = 0
while i <= 9:
  print(i,end=" ")
  i+=1

0 1 2 3 4 5 6 7 8 9

In [ ]:
i = 0
while i <= 9:
  print(i,end="\n")
  i+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Or, simply
i = 0
while i <= 9:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# in the above program the increament was 1
# for increment to be 2
i = 0
while i <= 9:
  print(i)
  i += 2

0
2
4
6
8

In [ ]:
# W.A.P for multiplication table of a number
num = int(input("Enter a number: "))
i = 1
while i <= 10:
  print(f"{num} X {i} = {num * i}")
  i += 1

Enter a number: 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

## FOR LOOP

In [ ]:
# W.A.P to print numbers from 1 to 10
for i in range(1, 11): # 1 is inclusive while 11 is exclusive
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 11):
  print(i, end="\t")

1	2	3	4	5	6	7	8	9	10

In [ ]:
# for increment of +2
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1, 10, 2):
  print(i, end="\t")

1	3	5	7	9

In [ ]:
# decrement
for i in range(11, 1, -2):
  print(i, end="\t")

11	9	7	5	3

In [ ]:
# W.A.P for multiplication table of a number
num = int(input("Enter a number: "))
for i in range(1, 11):
  print(f"{num} X {i} = {num * i}")

Enter a number: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [ ]:
# Creating a user-defined function
def add(a,b):
  return a + b

num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
print(f"Sum of {num1} and {num2} is: {add(num1, num2)}")

Enter a number: 12
Enter another number: 23
Sum of 12 and 23 is: 35

## FILE HANDLING

In [ ]:
# Creating a text file
%%writefile abc.txt
%%Writefle is a magic command to create a file with name abc and ext .txt
This is a demo file.
It is created for testing purpose.

Overwriting abc.txt

1. A text file gets created.

2. To access the file -

       Step 1. Hover the mouse to left side of the window

       Step 2. (Single) Click on 'Files'

       Step 3. Hover the mouse on the created file and double click on it.

       Step 4. The file gets open on the right side of the window.


 3. The file can also be downloaded.

 4. On clicking on the runn button -> Output: Writing abc.txt

 5. Now on doing changes in the document and then clicking on the run button -> Output: Overwriting abc.txt

In [ ]:
# Creating a python file
%%writefile xyz.py
# This is a demo pyfile.
print("Hello World!")

Writing xyz.py

In [ ]:
# To run the python file created using the magic command
!python xyz.py

Hello World!

In [ ]:
# Creating a word file
%%writefile demo.doc
This is a demo doc file.

Writing demo.doc

In Google Colab, the command `%%writefile xyz.py` is a magic command used to write the contents of a cell to a file. While the example you've provided creates a Python file (`xyz.py`), you can actually create files of various types by simply changing the file extension in the command.

### Types of Files You Can Create

1. **Python Files**:
   - Example: `%%writefile script.py`
   - Use this for any Python code you want to save.

2. **Text Files**:
   - Example: `%%writefile data.txt`
   - Useful for saving plain text data.

3. **Markdown Files**:
   - Example: `%%writefile notes.md`
   - You can save Markdown-formatted text for documentation.

4. **CSV Files**:
   - Example: `%%writefile data.csv`
   - Create CSV files for tabular data.

5. **JSON Files**:
   - Example: `%%writefile config.json`
   - Useful for saving structured data in JSON format.

6. **HTML Files**:
   - Example: `%%writefile index.html`
   - You can create HTML documents for web pages.

7. **Shell Scripts**:
   - Example: `%%writefile script.sh`
   - Save shell scripts to run in a Unix-like environment.

8. **Other Formats**:
   - You can create any file type by specifying the appropriate extension (like `.xml`, `.yaml`, `.txt`, etc.).

### Example Usage

Here's how you might create a few different file types:

```python
%%writefile example.py
print("Hello, World!")

%%writefile example.txt
This is a text file.

%%writefile example.csv
name,age
Alice,30
Bob,25

%%writefile example.json
{
    "name": "Alice",
    "age": 30
}
```

### Conclusion

The `%%writefile` command can be used to create virtually any type of file, as long as you specify the correct file extension. Just remember that the contents of the cell will determine the file's structure and format, so make sure to write the appropriate content for the type of file you want to create!

## SEQUENCES IN PYTHON

These are data structures in python.

    1. Tuple
    2. Set
    3. Dictionary
    4. List

Certain number of items either of same or different datatypes can be stored.

## LISTS

In [ ]:
# storing data having same datatype
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
type(a)

list

In [ ]:
# storing data having different datatype
b = [25, "Hello World", 2.7, True]
print(b)

[25, 'Hello World', 2.7, True]

In [ ]:
type(b)

list

In [ ]:
fruits = ["Apple", "Banana", "Mango", "Coconut", "Grapes"]
print(fruits)

['Apple', 'Banana', 'Mango', 'Coconut', 'Grapes']

Lists are ordered -> order is maintianed

In [ ]:
# OPERATIONS ON A LIST
# append()
fruits.append("Kiwi")
print(fruits)

['Apple', 'Banana', 'Mango', 'Coconut', 'Grapes', 'Kiwi']

Kiwi is added to the list and the list gets altered.

If the above cell is ran n times, "Kiwi" will be added n times

In [ ]:
fruits = ["Apple", "Banana", "Mango", "Coconut", "Grapes"]
print(fruits)

['Apple', 'Banana', 'Mango', 'Coconut', 'Grapes']

In [ ]:
# To access a particular element from a list
print(fruits[0])

Apple

In [ ]:
print(fruits[0:2]) # 2 is excluded

['Apple', 'Banana']

In [ ]:
print(fruits[::2])

['Apple', 'Mango', 'Grapes']

In [ ]:
fruits.append("Kiwi")
print(fruits)

['Apple', 'Banana', 'Mango', 'Coconut', 'Grapes', 'Kiwi']

In [ ]:
fruits = ["Apple", "Banana", "Mango", "Coconut", "Grapes"]
print(fruits)

['Apple', 'Banana', 'Mango', 'Coconut', 'Grapes']

In [ ]:
# Add an element based on index
fruits.insert(2, "Kiwi") # -> Kiwi will be added to 2nd index
# Index of first element in a list is 0.
print(fruits)

['Apple', 'Banana', 'Kiwi', 'Mango', 'Coconut', 'Grapes']

In [ ]:
# Remove an element from a list
fruits.remove("Kiwi")
print(fruits)

['Apple', 'Banana', 'Mango', 'Coconut', 'Grapes']

In [ ]:
# Removing an element from a list based on index
fruits.pop(3) # ELement at index 3 will be removed

'Coconut'

In [ ]:
print(fruits)

['Apple', 'Banana', 'Mango', 'Grapes']

In [ ]:
# Reversing a list
# Method 1
fruits.reverse()
print(fruits)

['Grapes', 'Mango', 'Banana', 'Apple']

In [ ]:
# Method 2
print(fruits[::-1]) # It creates another list and stores elements of the list
                    # in reverse order (Slicing just creates a new list)
print(fruits)

['Apple', 'Banana', 'Mango', 'Grapes']
['Grapes', 'Mango', 'Banana', 'Apple']

In [ ]:
veggies = ["Carrot", "Potato", "Cauliflower", "Tomato", "Capsicum"]
print(veggies)

['Carrot', 'Potato', 'Cauliflower', 'Tomato', 'Capsicum']

In [ ]:
# Merging lists
fruits.extend(veggies)
print(fruits)

['Grapes', 'Mango', 'Banana', 'Apple', 'Carrot', 'Potato', 'Cauliflower', 'Tomato', 'Capsicum']

In [ ]:
fruits = ["Apple", "Banana", "Mango", "Coconut", "Grapes"]
print(fruits)

['Apple', 'Banana', 'Mango', 'Coconut', 'Grapes']

In [ ]:
print(fruits+veggies)

['Apple', 'Banana', 'Mango', 'Coconut', 'Grapes', 'Carrot', 'Potato', 'Cauliflower', 'Tomato', 'Capsicum']

PROPERTIES OF A LIST
1. Mutable
2. Ordered
3. Allow duplicates
4. Allows heterogenous datatypes

## TUPLES

In [ ]:
t = (1, 2, 3, 4, 5)
print(t)

(1, 2, 3, 4, 5)

In [ ]:
# To access an element in a tuple
print(t[0])

1

In [ ]:
print(t[2:4]) # 4 is excluded

(3, 4)

In [ ]:
print(t[::2])

(1, 3, 5)

In [ ]:
# Reversing a tuple <- doesn't mean altering (i.e. reversing) the tuple
# it is creating another tuple and storing the elements of t in rverse order
print(t[::-1])

(5, 4, 3, 2, 1)

In [ ]:
print(t)

(1, 2, 3, 4, 5)

In [ ]:
# Tuples are ordered
type(t)

tuple

In [ ]:
u = (1, 2, 3, 4, 5, 6, 1, 2)
print(u)

(1, 2, 3, 4, 5, 6, 1, 2)

In [ ]:
# Tuples allow duplicates

In [ ]:
u.append(7)
print(u)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Tuples are immutable

v = (1, 2.7, "Hello", True)
print(v)

(1, 2.7, 'Hello', True)

### PROPERTIES OF TUPLES
1. Immutable
2. Ordered
3. Allows duplicates
4. Allows heterogenous datatypes

## SET

In [ ]:
s = {1, 2, 3, 4, 5}
print(s)

{1, 2, 3, 4, 5}

In [ ]:
type(s)

set

In [ ]:
b  = {1, 2.6, True, "Hello World"}
print(b)

{1, 'Hello World', 2.6}

In [ ]:
c = {1, 2, 1, 3, 4}
print(c)

{1, 2, 3, 4}

In [ ]:
c = {2, 3, 4, 1, 5}
print(c)

{1, 2, 3, 4, 5}

In [ ]:
# OPERATIONS ON SETS
x = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
y = {5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
print(y)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
# UNION
print(x | y)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
# INTERSECTION
print(x & y)

{5, 6, 7, 8, 9, 10}

In [ ]:
x.add(11)
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### PROPERTIES OF SET
1. Unordered
2. Allows heterogenous datatypes except boolean
3. Doesn't allow duplicates

## DICTIONARY

In [ ]:
# Syntax: <dict_name> = {key:value, ...}
data = {1:"Python", 2:"C", 3:"C++", 4:"Java"}
print(data)
type(data)

{1: 'Python', 2: 'C', 3: 'C++', 4: 'Java'}

dict

In [ ]:
cars = {"Brand":["Maruti", "Ford", "Volvo"], "passings":[3,7,19]}
print(cars)

{'Brand': ['Maruti', 'Ford', 'Volvo'], 'passings': [3, 7, 19]}

In [ ]:
type(cars)

dict